extends layout

block bodyContent
  link(rel="stylesheet", href="/stylesheets/about.css")
  div.about
    img(src="/images/code-background.jpg", alt="Code Background", srcset="").img-background
    div.sidebyside
      div.box.row1
          h2 About Me 
          p TIMELINE ->
          p | Born 
            b July 23, 2002
          p | Went to 
            b Churubusco Jr./Sr. High School
      div.box.row2
        h2 Test Prompt
        p Another one