extends layout

block bodyContent
 div.greeting
  img(src="/images/index-background.jpg", alt="City Background", srcset="").index-background
  div.index-greeting
   link(rel="stylesheet", href="/stylesheets/index.css")
   h2.title Welcome to my   
   h1.fadeTitle 
    i ~ Humble Abode ~

   