.img-background {
    width: 100%;
    height: 700px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,.40) 0%, rgba(0,0,0,.40) 50%, rgba(0,0,0,0) 100%);
    object-fit: cover;
}
.about {
    position: relative;
}
.sidebyside {
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
}
.box {
    width: 500px;
    margin-left: 40px;
    min-width: 400px;
}
@media only screen and (max-width: 1300px) {
    .sidebyside {
        top: 40%;
        left: 40%;
    }
}